<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <title>Form Fillup</title>
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/myapp.css'%}">
  <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Eczar" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Tamma" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Tamma" rel="stylesheet" type="text/css">
</head>
<body  style="background-color:#FFFFFF">
<div id="a">
<center id="iitbhu">Indian Institute Of Technology (BHU) Varanasi</center>
</div>
<div id="b">
<center>Training and Placement Cell</center>
</div>
<a href="../dummy">Dummy link</a>
{% block content %}
{% endblock %}
</body>
</html>
