{% extends 'base.html' %}

{% block content %}
<table style="width:100%" border="True">
  <td><center><a href="../login/">Company Login</a></center></td>
  <td><center><a href="http://placement.iitbhu.ac.in/#!/view/#login/">Student Login</a></center></td>
</table>
<h3>* marked fields are mandatory</h3>
{{ user }}
<form method="post" action="../dummy/">{% csrf_token %}
  {{ form }}
  <input type="submit" value="ok" name="submit">
</form>


<br/><br/>
<h1>A heading</h1>
<h2>A sub-heading</h2>
<h3>A sub-sub-heading</h3>
<p>A paragraph of text</p>
<em>text</em>
<strong>text</strong>
<br />
<a href="https://djangogirls.org">link</a>
<ul><li>first item</li><li>second item</li></ul>
-----------------------<br/>
This is dynaamic content</br>

{% for e in cpi9 %}

<a href="../details/{{ e.pk }}">{{ e.first_name }}</a>
<!-- comment hard coded instead of url '../details' e.pk-->
{% endfor %}

{% block content-hello%}<h1>This is an inherited block</h1>{% endblock %}

{% endblock %}
